body {
    font: 1em sans-serif;
}

nav ol {
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 1em;
}


#content > ol {
    list-style: none;
}

#testcontent {
    padding: 3em;
}

#testcontent {
    background-color: white;
}

#test div:nth-child(3) {
    padding: 1em;
    background-color: purple;
}